#logoBar{
  width: 30vw;
  height: 100vh;
}
#siteLogo{
  width: 100%;
}
body {
  display: flex;
}
#staffGallery{
  width: 70vw;
  display: inherit;

}
.galleryImage{
  width: 100%;
  height: auto;
  height: 300px;
}
.flex-container{
  display: flex;
  flex-direction: row;
  gap: 2em;
  flex-wrap: wrap;
}
.card{
  background-color:aliceblue;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  text-align: center;
}
@media only screen and (max-width: 600px){
  body{
    flex-direction: column;
  }
  #logoBar{
    width: 100%;
    height: auto;
  }
}